.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.navbar li {
    float: right;
    margin: 15px;
    text-align: center;
    font: Bold 35px/26px Helvetica;
    letter-spacing: 0;
    color: red;
    text-transform: uppercase;
    opacity: 1;
    list-style: none;
}

.navLogo {
    float: left;
    text-align: center;
    font: Regular 37px/30px Kohinoor Telugu;
    letter-spacing: 0;
    color: red;
    text-transform: uppercase;
    opacity: 1;
    text-transform: uppercase;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 40,
}